html {
    height: 100%;
}

body {
    background-color: #1a59e0;
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .file-upload {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #ffffff;
    overflow: hidden;
    background-image: linear-gradient(to bottom, #1a59e0 50%, #ffffff 50%);
    background-size: 100% 200%;
    transition: all 1s;
    color: #ffffff;
    font-size: 100px;
}

.wrapper .file-upload input[type="file"] {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.wrapper .file-upload:hover {
    background-position: 0 -100%;
    color: #2590eb;
}

#result {
    color: white;
}

/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

input {
    font-size: 14px;
}

body {
    line-height: 1.4;
    color: #333333;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    margin-bottom: 16px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #777;
}

input {
    border: 1px solid #eeeeee;
    padding: 12px;
    outline: none;
}

/* Join Page Styles */

#btn-connect {
    cursor: pointer;
    padding: 12px;
    background: #038eff;
    border: none;
    color: white;
    font-size: 16px;
    transition: background .3s ease;
}

#btn-connect:hover {
    background: #1a59e0;
}

#btn-connect:disabled {
    cursor: default;
    background: #1a59e0;
}

.centered-form {
    background: #333744;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-form__box {
    box-shadow: 0px 0px 17px 1px #1D1F26;
    background: #F7F7FA;
    padding: 24px;
    width: 400px;
}

.centered-form #btn-connect {
    width: 100%;
}

.centered-form input {
    margin-bottom: 16px;
    width: 100%;
}

/* Submit Page Styles */

#btn-submit {
    color: white;
}

/* Player Styles */

.log-wrapper {
    display: flex;
}

.player {
    background-color: black; 
}

/* Sidebar Styles */

.log__sidebar {
    height: 100vh;
    color: white;
    background: #333744;
    width: 100%;
    margin: 0;
}

.blockchain-title {
    font-weight: 400;
    font-size: 22px;
    background: #2c2f3a;
    padding: 24px;   
}

.log-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 4px;
    padding: 12px 24px 0 24px;
}

.logs {
    list-style-type: none;
    font-weight: 300;
    padding: 12px 24px 0 24px;
}